<div class="toolbar">
  <a routerLink="home" routerLinkActive="active">
    <i class="fas fa-home"></i>
    <span>Home</span>
  </a>
  <a routerLink="news" routerLinkActive="active">
    <i class="fas fa-newspaper"></i>
    <span>News</span>
  </a>
  <a routerLink="blog" routerLinkActive="active">
    <i class="fas fa-blog"></i>
    <span>Blog</span>
  </a>
  <a routerLink="teachers" routerLinkActive="active">
    <i class="fas fa-chalkboard-teacher"></i>
    <span>Teachers</span>
  </a>
  <a routerLink="study-plan" routerLinkActive="active">
    <i class="fas fa-book"></i>
    <span>Study plan</span>
  </a>
</div>